;; this is a comment in my file
{:cljsbuild
 {
  :builds [{:id "example-admin"
            :source-paths [] #_["src" "dev" "tests" "../support/src"]
            :notify-command ["notify"]
            :assert true
            ;; this is a comment in my file
            :figwheel
            {:websocket-host "localhost"

             :on-jsload      example.core/fig-reload
             :on-message     example.core/on-message
             :open-urls ["http://localhost:3449/index.html"
                         "http://localhost:3449/index.html"
                         "http://localhost:3449/index.html"
                         "http://localhost:3449/index.html"
                         "http://localhost:3449/index.html"]
             :debug true
             }

            :compiler { :main example.core
                       :asset-path "js/out"
                       :output-to "resources/public/js/example.js"
                       :output-dir "resources/public/js/out"
                       :libs ["libs_src" "libs_sscr/tweaky.js"]
                       ;; :externs ["foreign/wowza-externs.js"]
                       :foreign-libs [{:file "foreign/wowza.js"
                                       :provides ["wowzacore"]}]
                       ;; :recompile-dependents true
                       :optimizations :none}}
           { :id "example"
            :source-paths ["src" "dev" "tests" "../support/src"]
            :notify-command ["notify"]
            :figwheel
            { :websocket-host "localhost"
             :on-jsload      example.core/fig-reload
             :on-message     example.core/on-message
             :open-urls ["http://localhost:3449/index.html"]
             :debug true
             }
            :compiler { :main example.core
                       :asset-path "js/out"
                       :output-to "resources/public/js/example.js"
                       :output-dir "resources/public/js/out"
                       :libs ["libs_src" "libs_sscr/tweaky.js"]
                       ;; :externs ["foreign/wowza-externs.js"]
                       :foreign-libs [{:file "foreign/wowza.js"
                                       :provides ["wowzacore"]}]
                       ;; :recompile-dependents true
                       :optimizations :none}}]}}
